@import "../import.less";
.mu-menu {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.mu-menu-toggle-icon {
  transition: transform .3s cubic-bezier(.23,1,.32,1);
  .mu-menu__open & {
    transform: rotate(180deg);
  }
}

.mu-menu-activator {
  align-items: center;
  cursor: pointer;
  height: 100%;
  position: relative;
  input[readonly] {
    cursor: pointer;
  }
  .mu-menu.is-disabled & {
    cursor: default;
    pointer-events: none;
  }
}
