@import '../import.less';

.mu-paper {
  transition: all .45s @easeOutFunction;
  color: @textColor;
  background-color: @dialogBackgroundColor;
}
.mu-paper-round {
  border-radius: 2px;
}
.mu-paper-circle {
  border-radius: 50%;
}
