.mu-pagination-item{
  color: @paginationTextColor;
  &.hover {
    background-color: @paginationHoverBackgroundColor;
  }
  &.active {
    color: @paginationActiveColor;
    background-color: @paginationActiveBackgroundColor;
  }
  &.disabled {
    color: @paginationDisabledColor;
  }
}
