@paginationTextColor: @textColor;
@paginationHoverBackgroundColor: rgba(0, 0, 0, .1);
@paginationActiveBackgroundColor: @primaryColor;
@paginationActiveColor: @white;
@paginationDisabledColor: @disabledColor;
