{
  "presets": [
    "env",
    "stage-2"
  ],
  "plugins": ["transform-runtime", "transform-vue-jsx"],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
