{
  "presets": [
    "env",
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx"],
  "comments": false,
  "env": {
    "test": {
      "presets": [[
        "env", {
          "modules": false
        }
      ], "stage-2"],
      "plugins": [ "istanbul", "transform-runtime"]
    },
    "es5": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-2"
      ]
    }
  }
}
