@chipColor: darken(@alternateTextColor, 12%);
@chipHoverColor: rgb(206, 206, 206);
@chipTextColor: fade(@textColor, 87%);
@chipDeleteColor: fade(@textColor, 26%);
@chipHoverDeleteColor: fade(fade(@textColor, 26%), 40%);
