@switchThumbOnColor: @primaryColor;
@switchThumbOffColor: @darkerAccentColor;
@switchThumbDisabledColor: @grey300;
@switchTrackOnColor: fade(@primaryColor, 50%);
@switchTrackOffColor: @lighterPrimaryColor;
@switchTrackDisabledColor: @lighterPrimaryColor;
@switchTextColor: @textColor;
@switchTextDisabledColor: @disabledColor;
