@switchThumbOnColor: @primary1Color;
@switchThumbOffColor: @accent2Color;
@switchThumbDisabledColor: @borderColor;
@switchTrackOnColor: fade(@primary1Color, 50%);
@switchTrackOffColor: @primary3Color;
@switchTrackDisabledColor: @primary3Color;
@switchTextColor: @textColor;
@switchTextDisabledColor: @disabledColor;
