.mu-grid-tile-titlebar{
  background-color: @gridListTitlebarColor;
}

.mu-grid-tile-title-container{
  color: @gridListTextColor;
}

.mu-grid-tile-action {
  .mu-icon {
    color: @gridListTextColor;
  }
}
