@datePickerColor: @primary1Color;
@datePickerTextColor: @alternateTextColor;
@datePickerCalendarTextColor: @textColor;
@datePickerSelectColor: @primary2Color;
@datePickerSelectTextColor: @alternateTextColor;
@datePickerCalendarYearBackgroundColor: @canvasColor;
