@datePickerColor: @primaryColor;
@datePickerTextColor: @alternateTextColor;
@datePickerCalendarTextColor: @textColor;
@datePickerSelectColor: @primaryColor;
@datePickerSelectTextColor: @alternateTextColor;
@datePickerCalendarYearBackgroundColor: @dialogBackgroundColor;
@datePickerHeaderColor: @primaryColor;
