@bottomNavBackgroundColor: @canvasColor;
@bottomNavShiftBackgroundColor: @primary1Color;
@bottomNavUnselectedColor: fade(@textColor, 54%);
@bottomNavShiftUnselectedColor: fade(@alternateTextColor, 70%);
@bottomNavSelectedColor: @primary1Color;
@bottomNavShiftSelectedColor: @alternateTextColor;
