@import "../vars.less";
@primary1Color: @cyan700;
@primary2Color: @cyan700;
@primary3Color: @grey600;
@accent1Color: @pinkA200;
@accent2Color: @pinkA400;
@accent3Color: @pinkA100;
@textColor: @fullWhite;
@secondaryTextColor: fade(@fullWhite, 70%);
@alternateTextColor: #303030;
@canvasColor: #303030;
@borderColor: fade(@fullWhite, 30%);
@disabledColor: fade(@fullWhite, 30%);
@pickerHeaderColor: fade(@fullWhite, 12%);
@clockCircleColor: fade(@fullWhite, 12%);
@import "../../../dist/theme-vars.less";
@import "../../../dist/theme.less";
