.mu-tabs{
  background-color: @tabsBackgroundColor;
}
.mu-tab-link-highlight {
  background-color: @tabsLineColor;
}
.mu-tab-link{
  color: @tabsTextColor;
}
.mu-tab-active {
  color: @tabsSelectedTextColor;
}
