.mu-card {
  background-color: @cardBackgroudColor;
}

.mu-card-header-title{
  .mu-card-title{
    color: @cardTitleColor;
  }
  .mu-card-sub-title{
    color: @cardSubtitleColor;
  }
}


.mu-card-media-title {
  background-color: @cardMediaOverlayContentBackground;
  .mu-card-title {
    color: @cardMediaTitleColor;
  }
  .mu-card-sub-title {
    color: @cardMediaSubtitleColor;
  }
}

.mu-card-title-container{
  .mu-card-title{
    color: @cardTitleColor;
  }
  .mu-card-sub-title{
    color: @cardSubtitleColor;
  }
}

.mu-card-text{
  color: @cardTextColor;
}
