@cardBackgroudColor: @backgroundColor;
@cardTitleColor: fade(@textColor, 87%);
@cardSubtitleColor: fade(@textColor, 54%);
@cardMediaColor: @darkWhite;
@cardMediaOverlayContentBackground: @lightBlack;
@cardMediaTitleColor: @darkWhite;
@cardMediaSubtitleColor: @lightWhite;
@cardTextColor: @textColor;
