.mu-radio {
  input[type="radio"] {
    &:checked {
      + .mu-radio-wrapper {
        .mu-radio-icon-uncheck{
          color: @radioCheckedColor;
        }
        .mu-radio-ripple-wrapper{
          color: @radioCheckedColor;
        }
      }

    }
  }
}

.mu-radio-label {
  color: @radioTextColor;
  .mu-radio.disabled & {
    color: @radioDisabledColor;
  }
}

.mu-radio-icon-uncheck {
  color: @radioColor;
  .mu-radio.disabled & {
    color: @radioDisabledColor;
  }
}

.mu-radio-icon-checked {
  color: @radioCheckedColor;
  .mu-radio.disabled & {
     color: @radioDisabledColor;
   }
}
