// flatbutton
.mu-flat-button {
  color: @flatButtonTextColor;
  background-color: @flatButtonColor;
  .mu-circle-ripple {
    color: @flatButtonTextColor;
  }
}

.mu-flat-button-primary{
  color: @flatButtonPrimaryTextColor;
}

.mu-flat-button-secondary{
  color: @flatButtonSecondaryTextColor;
}
