@tableBackgroundColor: @alternateTextColor;
@tableBorderColor: @borderColor;
@tableTextColor: @textColor;
@tableRowSelectedBackgroundColor: @grey100;
@tableRowHoverBackgroundColor: @grey200;
@tableRowStripeBackgroundColor: fade(lighten(@primaryColor, 50%), 40%);
@tableTheadTextColor: @secondaryTextColor;
