@timePickerColor: @alternateTextColor;
@timePickerClockColor: @textColor;
@timePickerClockCircleColor: fade(@darkBlack, 7%);
@timePickerSelectColor: @primaryColor;
@timePickerSelectTextColor: @alternateTextColor;
@timePickerHeaderColor: @primaryColor;
