@timePickerColor: @alternateTextColor;
@timePickerClockColor: @textColor;
@timePickerClockCircleColor: @clockCircleColor;
@timePickerSelectColor: @primary2Color;
@timePickerSelectTextColor: @alternateTextColor;
