// floatButton
@floatButtonColor: @primaryColor;
@floatButtonIconColor: @alternateTextColor;
@floatButtonSecondaryColor: @accentColor;
@floatButtonSecondaryIconColor: @alternateTextColor;
@floatButtonDisabledColor: darken(@alternateTextColor, 12%);
@floatButtonDisabledIconColor: fade(@textColor, 30%);
