// badge
@badgeColor: @primary3Color;
@badgeTextColor: @alternateTextColor;
@badgePrimaryColor: @primaryColor;
@badgePrimaryTextColor: @alternateTextColor;
@badgeSecondaryColor: @accentColor;
@badgeSecondaryTextColor: @alternateTextColor;
