@badgeColor: @lighterPrimaryColor;
@badgeTextColor: @alternateTextColor;
@badgePrimaryColor: @primaryColor;
@badgePrimaryTextColor: @alternateTextColor;
@badgeSecondaryColor: @accentColor;
@badgeSecondaryTextColor: @alternateTextColor;
